<!DOCTYPE html>
<html>
<head>
    <title>Add Cafe</title>
</head>
<body>

<h1>Add a New Cafe</h1>

<form method="POST">

    <input name="name" placeholder="Cafe name" required>
    <input name="location" placeholder="Location" required>
    <input name="wifi" placeholder="WiFi (Yes/No)">
    <input name="power" placeholder="Power sockets (Yes/No)">
    <input name="map_url" placeholder="Google Maps URL" required>
    <input name="img_url" placeholder="Image URL" required>
    <input name="seats" placeholder="Seats">
    <input name="coffee_price" placeholder="Coffee price">
    <button type="submit">Add Cafe</button>

</form>

</body>
</html>